<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div id="content"></div>

<script>
    $(document).ready(function(){        
        //Подгружаем BACK шаблон
        function fetch_data(){ 
            $.ajax({  
                url:"/sticks/back",  
                method:"get",
                success:function(data){  
                    $('#content').html(data);
                    setKeydownmyForm()
                }   
            });  
        } 
        fetch_data();       
    });
</script>
