<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div id="content"></div>

<script>
    $(document).ready(function(){        
        //Подгружаем BACK шаблон
        function fetch_data(){ 
            $.ajax({  
                url:"/sticks/back",  
                method:"get",
                success:function(data){  
                    $('#content').html(data);
                }   
            });  
        } 
        fetch_data();   
        
        //Выполняем действие, при нажатии на кнопку
        $(document).on('click', '#ButtonOne', function(){           
            $.ajax({
                url:"/sticks/action",  
                method:"post",
                data:$('#FormOne').serialize(),
                dataType:"text", 
                success:function(data){
                    //alert(data);
                    fetch_data();
                } 
            })  
            
            function logics() {
                $.ajax({
                    url:"/sticks/logics",  
                    method:"post",
                    success:function(data){
                        //alert(data);
                        fetch_data();
                    } 
                }) 
            }
            let timeout = setTimeout(logics, 800);
        })
        
        //Выполняем действие, при нажатии на кнопку
        $(document).on('click', '#ButtonTwo', function(){           
            $.ajax({
                url:"/sticks/action",  
                method:"post",
                data:$('#FormTwo').serialize(),
                dataType:"text", 
                success:function(data){
                    //alert(data);
                    fetch_data();
                } 
            }) 
            
            function logics() {
                $.ajax({
                    url:"/sticks/logics",  
                    method:"post",
                    success:function(data){
                        //alert(data);
                        fetch_data();
                    } 
                }) 
            }
            let timeout = setTimeout(logics, 800);
        })
        
        //Выполняем действие, при нажатии на кнопку
        $(document).on('click', '#ButtonThree', function(){           
            $.ajax({
                url:"/sticks/action",  
                method:"post",
                data:$('#FormThree').serialize(),
                dataType:"text", 
                success:function(data){
                    //alert(data);
                    fetch_data();
                } 
            }) 
            
            function logics() {
                $.ajax({
                    url:"/sticks/logics",  
                    method:"post",
                    success:function(data){
                        //alert(data);
                        fetch_data();
                    } 
                }) 
            }
            let timeout = setTimeout(logics, 800);
        })
    });
</script>
